* text=auto eol=lf
*.sln text eol=crlf
*.cs text eol=lf
*.csproj text eol=lf
*.sh text eol=lf

# Binary / copyrighted content must never be treated as text
*.zcp binary
*.ccgame binary
*.xnb binary
*.dll binary
*.exe binary
*.so binary
*.bin binary
